<div class="col-10 center-row">
  <div class="card comment-card">
    <div class="card-body comment-card-body">
      <h6 class="text-left"><%= comments.user.name %></h6>
      <p class="text-left"><%= comments.body %></p>
      <p class="quiet text-right"><small>Created at: <%= comments.created_at %></small></p>
    </div>
  </div>
</div>
