<div class="container">
  <div class="row">
    <div class="col-10 center-row">
      <h1 class="mt-5">Questions related to <%= @tag.name %></h1>
    </div>
  </div> <br>
  <div class="row">
    <% @questions.each do |question| %>
      <div class="col-10 center-row">
        <div class="card">
          <div class="card-header">
            <h5><%= question.heading %></h5>
          </div>
          <div class="card-body text-left">
            <p><%= question.description %></p>
          </div>
          <div class="card-footer text-right">
            <%= link_to "Show", user_question_path(question.user_id, question), class: "btn btn-success" %>
          </div>
        </div>
      </div> <br>
    <% end %>
  </div>
</div>
